<h1>Account cancelation</h1>

<p>
  Dear <strong><%= @user.full_name %></strong>,
</p>

<p>Your account with Rotten Mangoes was canceled and you no longer have access to your account.</p>

<p>We appreciate your business and if there is anything we can do for you, please let us know! </p>

<p>All the best.</p>

<h2>Rotten Mangoes Team</h2>
